<!DOCTYPE html>
<html lang="en">
<head>
     <script src="https://kit.fontawesome.com/0d4230aee3.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'navbar.html' %}
<body background="https://wallpaperaccess.com/full/5653640.jpg">
<div>
    <h1 style="text-align:center;margin-top:50px">ABOUT US</h1>
<h3 style="margin-top:50px">Construction material and equipment sytem helps both the consumer and the supplier.this
                system allows consumer to directly buy materials that are important for the construction of a
                building/house such as cement,metal,steel,sand etc,from the seller,and the consumer can also
                get the equipments which are important for the construction from various suppliers by
                rent.we also provide the contact details of the owner of the machines such as JCB,Hitachi
                etc.so that you you can select everything that are important for the construction of your
                building/home from this system.</h3>
</div>

</body>
</html>